<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neuen User hinzufügen</title>
  <link rel="stylesheet" href="/css/addUserStyle.css">
</head>
<body>

<div class="container">
  <h2>Neuen User hinzufügen</h2>

  <form action="/users/addUser" method="post" class="user-form">
    <label for="fullName">Benutzername:</label>
    <input type="text" id="fullName" name="fullName" placeholder="Bitte Benutzernamen eingeben" required>

    <label for="email">E-Mail:</label>
    <input type="email" id="email" name="email" placeholder="Bitte Email eingeben" required>

    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password" placeholder="Sicheres Passwort eingeben" required>

    <h3>Wähle dein(e) Topic(s):</h3>
    <div class="topics">
      <div th:each="topic : ${topics}" class="topic-item">
        <label>
          <input type="checkbox" th:value="${topic.id}" name="topicIds" th:id="'topic-' + ${topic.id}">
        </label>
        <label th:for="'topic-' + ${topic.id}" th:text="${topic.title}"></label>
      </div>
    </div>

    <button type="submit" class="btn">Hinzufügen</button>
  </form>
</div>

</body>
</html>
